body {
  font-size: 16px;
}

.Pokecard-card {
  background-color: lightgrey;
  border-radius: 10%;
  width: 10rem;
  height: 14rem;
  margin: 2rem;
}

.Pokecard-inner-card {
  width: 70%;
  height: 70%;
  font-family: "Avenir";
  margin: auto;
  position: relative;
  top: 1.5rem;
}

.Pokecard-title {
  color: blue;
  line-height: 0rem;
}

.Pokecard-img {
  line-height: 0rem;
}

.Pokecard-type, .Pokecard-exp {
  font-weight: 800;
  line-height: 0.2rem;
}